
    body{background-color: black;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        }
    button{
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        font-weight: 700px;
        background:blue;
        border: 2px solid white;
        cursor: pointer;

    }
    #box{
        width: 400px;
        height: 400px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: rgb(43, 105, 160);
        display: flex;
       justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    button:active {
        scale: 0.95;
        background-color: transparent;

    }
    