/* 
    body{background-color: black;
        color: beige;
        }
    main{
         display: flex;
        align-items: center;
        flex-direction: column;
gap: 20px;

    }
    button{
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        background:blue;
        border: 2px solid white;
        cursor: pointer;

    }
    #box{
        width: 400px;
        height: 400px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: rgb(43, 105, 160);
        display: flex;
       justify-content: center;
        align-items: center;
        font-size: 50px;
    }
    button:active {
        scale: 0.95;
        background-color: transparent;

    }
     */

     * {
         padding: 0;
         margin: 0;
         box-sizing: border-box;
         font-family: 'helvetica neue';
     }
     
     html,body {
         height: 100%;
         width: 100%;
     }
     main{
        height: 100%;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        
     }
     button{
        padding: 10px 20px;
        background-color: red;
        border: 2px solid white;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        position: relative;
        z-index: 9;
     }
     button:active{
        scale: 0.95;
    
     }