* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: white;
}

html {
    height: 100%;
    width: 100%;
font-size: clamp(14px,1vw,18px);

}
body{
    background-color: black;
}
@mixin flex-column($gap:0rem){
     display: flex;
        flex-direction: column;
        gap: $gap;
}

section{
    max-width: 2000px;
}

main {
    width: 100%;
@include flex-column(0rem);
align-items: center;

    section {
        width: 100%;
@include flex-column(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 10px;
                
            }

        }
        .bottom{
            background-color: rgb(12, 12, 12);
            border-radius: 10px;
            padding: 1.5rem;
           @include flex-column(3rem);

           

            .text{
              @include flex-column(0.8rem);

                h1{
                    font-weight: 300;
                    font-size: 2.5rem;

                }
            button{
                width: fit-content;
                background-color: rgba(92, 90, 90, 0.279);
                border: none;
                padding:0.7rem 1rem;
                border-radius: 0.7rem;


            }
            p{
                font-weight: 100;
                opacity: 0.5;
                line-height: 1.5;
                font-size: 1.3rem;

            }
            }
        }
    }
}
@media (min-width: 900px){
    main{
        section{
            flex-direction: row;
            padding: 1rem 4rem ;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 2.5rem;

                .text{
                    gap: 2rem;

                    h1{
                        font-size: 4rem;
                        font-weight: 400;

                    }
                    p{
                        width: 60%;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}