*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #f9f8f7;
    padding: 1px 20px;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.navbar img:nth-child(1){
    width: 120px;
    height: 30px;
    
}

.features{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90px;
    padding-bottom: 10px;
    cursor: pointer;
}

.features::after{
    position: absolute;
    content:"";
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-in;
    transform-origin: left;
}

.features:hover::after{
    transform: scaleX(1);
    
}

.features > img{
    rotate: -180deg;
    width: 10px;
    height: 7px;
}


.navitem{
    font-size: 16px;
    display: flex;
    gap: 27px;
}

.slide{
    position: relative;
    cursor: pointer;
}

.navitem > p::after{
    position: absolute;
    content:none;
    width: 100%;
    height: 12px;
    bottom: 0;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-in;
    transform-origin: left;
    cursor: pointer;
}

.navitem > p:hover::after{
    transform: scaleX(1);
}


.navbar > button{
    display: flex;
    font-size: 15px;
    border-radius: 30px;
    height: 43px;
    width: 145px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #25d366;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
}
.navbar > button:active{
    background-color: transparent;
    scale: 0.95;
}

.navbar > button > img{
    height: 18px;
    width: 15px;
}

.firstsection{
    height: 90%;
    display: flex;
    flex-direction: column;
}

.maabeti{
    background-image: url(./image\ copy.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    background-position: center;
    
}