* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
    font-size: 50px;
    font-weight: 80px;
}
img{
    height:50%;
    width: 200px;
    padding: 10px;
}
}

body{
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    padding: 10px;
    

   .img{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    .author{
        font-size: 15px;
        font-weight: 200;

        img{
            display: flex;
            height: 19%;
            width: 25%;

        }
    }
    
}
