* {margin:0 ;padding: 0;
text-align: center;
}
  h3{
        text-transform: uppercase;
    }
    h5{
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(253, 252, 251);
        padding: 1%;
        margin-left: 11%;
        margin-right: 11%;
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: center;
    }
.header{
    padding: 5%;
    background-color: rgb(18, 19, 39);
    color: antiquewhite;
    align-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-style: oblique;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        font-style: bold;
        text-transform: uppercase;
    }
    h5{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
.mid{
    background-color: rgb(245, 246, 248);

   
}
.about{
    background-color: rgb(166, 193, 214);
    padding: 5%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    p{
        font-family: 'Times New Roman', Times, serif;
    }
}
.education{
    background-color: rgb(201, 244, 244);
    padding: 5%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;

}
.skill{
    background-color: rgba(243, 231, 125, 0.694);
    padding : 5%;
    margin: 1%;
    margin-left: 10%;
margin-right: 10%;
    border-radius: 10px;
}
.contact{
    background-color: rgb(192, 239, 221);
    padding : 5%;
    margin: 1%;
    margin-left: 10%;
margin-right: 10%;
    border-radius: 10px;
}
.project{
    background-color: rgb(224, 220, 244);
    padding: 5%;
     margin: 1%;
    margin-left: 10%;
margin-right: 10%;
    border-radius: 10px;
}